*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 10;
}
.container{
    padding:30px;
    width: 1350px;
    margin: 0 auto;
}
/* All Common Css End */
.header{
   background-image: url(../images/Rectangle\ 5132.png);
    height: 900px;
    position:relative;
}
.over{
    position: absolute;
    opacity:15%;
}
.menu ul{
    display: inline-block;
    padding:20px;
}
.menu ul li a{
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
  transition: 2s;
}
.menu ul li a:hover{
    border-bottom: #fff solid 4px;
}
.all-head{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.icon img{
    padding:15px;
    font-size:20px;
}
.text h2{
    color: #fff;
    margin-top: 100px;
}
.text h1{
    color: #fff;
    font-size:50px;
    margin-top:30px;
    width:550px;
}
.text h1 span{
    color:#FF494A;
    margin-top:20px;
}
.text p{
    color: #9F9F9F;
    width:500px;
    margin-top:50px;
    line-height:30px;
}
.button{
    margin-left:0px;
    margin-top:70px;
}
.banright{
    position: relative;
}
.img6{
    position: absolute;
    right: 0%;
    bottom: 300px;
}
.img7{
    position: absolute;
    right:17%;
    bottom:-300%;
  }
  .img7 img{
    border-radius:10px;
    
  }
.full{
    background-color: black;
    height:4000px;
}
.stpart{
    margin-top: 100px;
}
.ndpart{
    margin-top:100px;
}
.rdpart{
    margin-top:100px;
}
.y{
    margin-top:100px;
}